{% extends 'main/base.html' %}

{% load static %}

{% block titulo%}
Carga Proyectos Carry Over
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'gcia_daily/css/carry_over.css' %}">
{% endblock %}

{% block contenido %}
<div class="title">
    <h1>Carga de Proyectos Carry Over</h1>
    <p>Carga de todos los Proyectos que pasaron a Carry Over.</p>
</div>

<div class="notes">
    <h2>Notas:</h2>
    <ol>
        <li><i class='bx bx-check bx-sm'></i>  Recordar que la informacion se sobrescribirá.</li>
        <li><i class='bx bx-check bx-sm'></i>  Se debe utilizar el template debajo para la carga de informacion.</li>
        <li><i class='bx bx-check bx-sm'></i>  Los datos deben estar completos por pais y negocio. Ejemplo: AR-RF-CV-AEM</li>
        <li><i class='bx bx-check bx-sm'></i>  Los datos habran terminado de cargar cuando el mensaje de exito se cargue.</li>
    </ol>
</div>

<div class="carryOver">
    <form action="{% url 'CarryOver' %}" enctype="multipart/form-data" class='box' method="POST" novalidate>
        {% csrf_token %}
        <input type="file" name="file" id=""><br>
        <button type="submit" class="" href="{% url 'CarryOver' %}">Cargar</button>
    </form>
</div>

<div class="resultados">
    <div class="template">
        <h2><i class='bx bx-grid bx-sm'></i>  Template de carga</h2>
        <button onclick="ExportToExcelTemplate('xlsx')">Descargar</button>
    </div>

    <table class="tablaTemplate" style="display: none;">
        <thead class="">
            <tr>
                <th scope="col">POSPRE</th>
                <th scope="col">CEGE</th>
                <th scope="col">DENOM_CEGE</th>
                <th scope="col">PRESUPUESTO_ANIO</th>
                <th scope="col">FONDO</th>
                <th scope="col">CAPEX_FINAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr> 
        </tbody>
    </table>
</div>
{% endblock %}

{% block js%}
<script src="{% static 'gcia_daily/js/carry_over.js' %}"></script>
{% endblock %}