:root{
--font-light: 10px;
--font-normal: 16px;
--font-h1: 70px;
--font-h2: 30px;
--font-h3: 20px;
--color-dark:#11101d;
--color-low-dark: #1d1b31;
--color-light: #ececec;
--color-light-blue: #a9bcd0;
--color-light-grey: #787e87;
--color-grey: #343a40;
}
body{
background-image: url("/static/gcia_daily/img/gcia_daily.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
color: var(--color-light);
}
body::before{
content: "";
width: 100%;
height: 100%;
background-color: black;
background-position: center;
background-size: 100%;
position: fixed;
opacity: 50%;
}
.title{
left: 260px;
padding-bottom: 15px;
transition: all 0.5s ease;
background-color: var(--color-grey);
opacity: 90%;
margin-bottom: 50px;
border-radius: 15px;
}
.sidebar.close ~ .title{
left: 78px;
width: calc(100% - 78px);
}
.title h1{
font-family: 'Bebas Neue';
font-size: var(--font-h1);
color: var(--color-light);
text-align: center;
padding: 5px 0 5px 0;
}
.title p{
font-size: var(--font-normal);
color: var(--color-light);
text-align: center;
margin: 0 25px;
}
.notes h2{
font-size: var(--font-h2);
margin: 0 0 15px 10px;
}
.notes li{
font-size: var(--font-normal);
margin: 10px 0 0 35px;
}
.pospre{
display: block;
justify-content: space-between;
align-items: center;
text-align: center;
margin-bottom: 20px;
}
.pospre input[type = "file"]{
border:0;
background: var(--color-light);
display: block;
margin: 10px auto;
text-align: center;
border: 2px solid var(--color-light-blue);
padding: 5px 10px;
width: 400px;
outline: none;
color: var(--color-low-dark);
border-radius: 24px;
transition: 0.25s;
}
.pospre button[type = "submit"]{
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid var(--color-light);
padding: 14px 40px;
outline: none;
color: var(--color-light);
font-size: var(--font-normal);
border-radius: 24px;
transition: 0.25s;
cursor: pointer;
}
.pospre button[type = "submit"]:hover{
background: var(--color-light);
color: var(--color-low-dark);
}
.resultados{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.resultados h2{
font-size: var(--font-h3);
margin: 0 25px 0 0;
}
.resultados h2 i{
margin: 0 0 0 25px;
}
.resultados button{
background: none;
display: right;
margin: 7px 17px;
text-align: center;
border: 2px solid var(--color-light);
padding: 5px 8px;
outline: none;
color: var(--color-light);
font-size: var(--font-light);
border-radius: 24px;
transition: 0.25s;
cursor: pointer;
}
.resultados button:hover{
background: #1D6F42;
color: var(--color-light);
}